@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Lovera';
    src: url('../fonts/Lovera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Delika';
    src: url('../fonts/delika-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Base */
:root {
    --primary: #006994;
    --secondary: #008080;
    --highlighter: #dbb74c;
    --head-font: 'Lovera', serif;
    --body-font: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    background-image: none;
    border-radius: 50px;
}

::-moz-selection {
    background: #000;
    color: #fff; 
}

::selection {
    background: var(--highlighter);
    color: #fff; 
}

a {
    color: var(--primary);
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}

a:hover {
    color: var(--secondary);
}

ul, li{
        list-style: none;
        margin: 0;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: var(--head-font); 
}

body:after {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; 
}

.btn {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 30px; 
}
.btn:hover, .btn:active, .btn:focus {
    outline: none;
}
.btn.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff; 
}
.btn.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary); 
}
.btn.btn-secondary {
    border-color: var(--secondary);
    color: white;
    background: var(--secondary); 
}
.btn.btn-secondary:hover {
    background: transparent;
    border-color: var(--secondary);
    color: var(--secondary); 
}
.btn.solid.btn-primary:hover {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
.btn.solid.btn-secondary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}
.btn.shadow{
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.8) !important;
}
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
position: fixed;
top: 30px;
left: 0px;
right: 0px;
z-index: 100;
height: 100px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.header-area .main-nav {
display: flex;
box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
border-radius: 50px;
max-height: 100px;
background: #fff;
align-items: center;
}

.header-area .main-nav .logo {
position: relative;
max-width: 10%;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img{
width: 100%;
}

.header-area .main-nav .nav {
align-items: center;
margin-left: auto;
margin-right: auto;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 999;
}

.header-area .main-nav .nav li {
padding-left: 20px;
padding-right: 20px;
}

/* .header-area .main-nav .nav li:last-child {
padding-right: 0px;
} */

.header-area .main-nav .nav li a {
display: block;
font-family: var(--body-font);
font-weight: 600;
font-size: 18px;
color: #fff;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
height: 30px;
line-height: 35px;
border: transparent;
}

.header-area .main-nav .nav li a:hover {
color: var(--highlighter);
}

.header-area .main-nav .menu-trigger {
cursor: pointer;
display: block;
position: absolute;
top: 23px;
width: 32px;
height: 40px;
text-indent: -9999em;
z-index: 99;
right: 40px;
display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
-webkit-transition: all 0.4s;
transition: all 0.4s;
background-color: #3B566E;
display: block;
position: absolute;
width: 30px;
height: 2px;
left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
-webkit-transition: all 0.4s;
transition: all 0.4s;
background-color: #3B566E;
display: block;
position: absolute;
width: 30px;
height: 2px;
left: 0;
width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
content: "";
}

.header-area .main-nav .menu-trigger span {
top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
-moz-transform-origin: 33% 100%;
-ms-transform-origin: 33% 100%;
-webkit-transform-origin: 33% 100%;
transform-origin: 33% 100%;
top: -10px;
z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
-moz-transform-origin: 33% 0;
-ms-transform-origin: 33% 0;
-webkit-transform-origin: 33% 0;
transform-origin: 33% 0;
top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
background-color: transparent;
width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
-moz-transform: translateY(6px) translateX(1px) rotate(45deg);
-ms-transform: translateY(6px) translateX(1px) rotate(45deg);
-webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
transform: translateY(6px) translateX(1px) rotate(45deg);
background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
-moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
-ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
-webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
transform: translateY(-6px) translateX(1px) rotate(-45deg);
background-color: #3B566E;
}

.header-area.header-sticky {
min-height: 70px;
}

.header-area.header-sticky .logo {
    align-items: center;
    margin-left: 40px;
}

/* .header-area.header-sticky .nav {
margin-top: 20px !important;
} */

.header-area.header-sticky .nav li a {
color: var(--secondary);
}

.header-area.header-sticky .nav li a.active {
color: var(--highlighter);
}



.header-area .main-nav .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
.header-area .main-nav .social li {
    display: flex;
    padding: 0 10px;
}

.header-area .main-nav .social li:first-child {
    padding-left: 0px;
}
.header-area .main-nav .social li:last-child {
    padding-right: 0px;
}

  
.header-area .main-nav .social li a {
    display: block;
    color: var(--primary);
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--primary);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    font-size: 18px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
  
.header-area .main-nav .social li a:hover {
    background-color: var(--primary);
    color: #fff;
}


@media (max-width: 1200px) {
.header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
}
.header-area .main-nav:before {
    display: none;
}
}

@media (max-width: 991px) {
.header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
}
.header-area .container {
    padding: 0px;
}
.header-area .logo {
    /* margin-top: 30px !important; */
    max-width: 10%;
    margin-left: 30px;
}
.header-area .menu-trigger {
    display: block !important;
}
.header-area .main-nav {
    overflow: hidden;
}
.header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
}
.header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
}
.header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3B566E !important;
}
.header-area .main-nav .nav li a:hover {
    background: #eee !important;
}
}

@media (min-width: 992px) {
.header-area .main-nav .nav {
    display: flex !important;
}
}
    

/* Hero Section */
.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.hero-video video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content{
    position: relative;
    z-index: 2;
    color: white;
    top: 50vh;
    text-align: left;
}
.hero-content h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.hero-content p{
    margin-left: 5px;
    font-family: var(--body-font);
    font-size: 18px;
    margin-bottom: 40px;
}
/* .hero-content .btn{
    align-content: center;
} */
.hero-content .btn i{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.hero-content .btn:hover i{
    cursor: pointer;
    transform: translateX(10px);
}
/* Services Section */
.services{
    position: relative;
    background-color: white;
    max-height: 120px;
    top: -120px;
    z-index: 4;
    margin-bottom: -120px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /* pointer-events: none; */
    /* caret-color: transparent; */
    -webkit-user-select: none;
    user-select: none;
}
.services .service-icons{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}
.services .service-icons img{
    height: 80px;
    width: 80px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.services .service-icons img:hover{
    transform: translateY(-20px) scale(1.2);
}

.popover {
    background-color: var(--primary); /* Light background color */
    border: none; /* Dark border color for contrast */
    border-radius: 50px;       /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}
.popover-arrow::after{
    border-top-color: var(--primary) !important;
}
.popover .popover-body {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

/* About Section */
.about{
    position: relative;
    /* background-image: url('../assets/img/about-1.png'); */
    background-image: url('../assets/img/about-2.png');
    min-height: 100vh;
    width: 100%;
    padding-top: 18vh;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.about .about-content{
    position: relative;
    z-index: 3;
}
.about .about-content h2{
    font-size: 50px;
    text-align: left;
    margin-bottom: 40px;
}

/* Accordion Styles */
.accordion-body{
    font-size: 16px;
    color: white;
    padding-top: 0;
    margin-left: 20px;
}

.accordion {
    --bs-accordion-border-radius: 10px;
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-bg: #fafafa00;
    --bs-accordion-border-color: none;
    border: none !important;
}
.accordion-button:focus{
    box-shadow: none;
  }
.accordion-button {
    box-shadow: none;
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-left: 0;
}
.accordion-button:not(.collapsed) {
    color: var(--highlighter);
    background-color: transparent;
    outline: none;
}

.accordion-button::after {
    display: none;
}
  
.accordion-header {
    border-bottom: none;
    position: relative;
    display: inline-block;
}
.accordion-header::after{
    content: '';
    border-bottom: 2px solid var(--highlighter);
    border-radius: 10px;
    width: 10%;
    position: absolute;
    display: block;
    bottom: 15px;
    left: 40px;
    transition: all 0.4s ease-in-out;
    z-index: 3;
}
.accordion-header:has(.accordion-button:not(.collapsed))::after {
    width: 85%;
}
  
.accordion-button::before {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 10px;
    content: "";
    border-radius: 50%;
    background-image: url("/assets/icons/fish-icon.png");
    background-repeat: no-repeat;
    background-size: 30px;
    filter: grayscale();
    transition: filter 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::before {
    filter: none;
}

/* Certificates Section */
.certificates{
    position: relative;
    background-image: url('../assets/img/certificate-bg.png');
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 18vh;
    z-index: 3;
}
.certificates .wrapper{
    position: relative;
    z-index: 3;
    justify-items: right;
    margin-right: 10vw;
}
.certificates .boxes{
    display: grid;
    grid-template-columns: 270px 200px 200px;
    /* grid-template-rows: repeat(3, 1fr); */
    row-gap: 15px;
    column-gap: 20px;
    align-items: center;
    justify-items: center;
    -webkit-user-select: none;
    user-select: none;
}
.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div3 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 3;
}

.boxes img{
    width: 100%;
    filter: drop-shadow(15px 15px 15px rgba(0,0,0, 0.8));
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
}
.boxes img:hover{
    cursor: pointer;
    
    z-index: 999;
}

/* Testimonials Section */
.testimonials {
    position: relative;
    background-image: url('../assets/img/testimonial-bg.png');
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    padding-top: 18vh;
    text-align: center;
}
.testimonials .header-text{
    -webkit-user-select: none;
    user-select: none;
}
.testimonials .header-text h2{
    font-size: 4rem;
    text-transform: capitalize;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}
.testimonials .header-text p{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.testimonial-slider {
    /* max-width: 800px; */
    padding: 40px;
    margin: 50px 0 auto;
}
  
.testimonial-card {
    background: white;
    height: auto;
    width: 20vw;
    margin: 30px 10px;
    opacity: 0.4;
    z-index: 1;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    transition: all 0.4s ease-in-out;
    transform: scale(0.9);
}
.testimonial-card.slick-center{
    opacity: 1;
    box-shadow: 0 2px 20px rgba(255,255,255,0.5);
    transform: scale(1.05);
    z-index: 3;
  }
  
.testimonial-card img{
    width: 100%;
}
.testimonial-card h3 {  
    color: #000;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.testimonial-card p {
    color: #000;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}
  
.testimonial-card h4 {
    /* font-family: var(--body-font); */
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
}

.custom-arrow {
    background-color: var(--secondary);
    border: 2px solid var(--secondary); /* or any color you want */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    cursor: pointer;
}
  
.custom-arrow:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
.custom-arrow:active{
    transform: scale(0.9);
}
  
.slick-prev {
    left: -30px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}  
.slick-next {
    right: -30px;
    text-shadow: -4px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
}  
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Contact Section */
.contact {
    position: relative;
    background-image: url('../assets/img/contact-bg.jpg');
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    padding-top: 18vh;
    text-align: center;
}
.contact .header-text{
    color: var(--highlighter);
}
.contact .header-text h2{
    font-size: 4rem;
    text-transform: capitalize;
    text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
}
.contact .header-text p{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.5);
}
.contact .form{
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    /* padding-bottom: 50px; */
}
.contact .form-area{
    margin-top: 50px;
}
.form-control {
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid var(--primary);
}
.form-control:active, .form-control:focus {
    border-color: var(--highlighter);
    background-color: #fff; 
}
.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}
.form-group textarea{
    min-height: 100px;
}
.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1;
    padding-right: 30px;
}
.form-control::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    background: url('../assets/icons/fish-icon.png') no-repeat center;
    pointer-events: none;
}